.serif,
p,
a {
  font-family: "Bitter", "Palatino", "Palatino Linotype", "Palatino LT STD",
    "Book Antiqua", "Georgia", serif;
}

.sans,
h1,
h2,
h3,
h4 {
  font-family: "Inter", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.monospace {
  font-family: "Cutive Mono", "Lucida Sans Typewriter", "Lucida Console",
    "monaco", "Bitstream Vera Sans Mono", monospace;
}

.cursive {
  font-family: "Dancing Script", "Brush Script MT", cursive;
}

html {
  font-size: 18px;
}

.title {
  display: inline-block;
  font-size: 2rem;
  color: white;
  margin-left: 3rem;
}

nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  background-color: darkslateblue;
  border: 1px solid white;
}

nav li {
  display: inline-block;
  text-align: right;
  margin-right: 5rem;
  background-color: white;
  padding: 0.5rem;
  border: 0.2rem solid paleturquoise;
  border-radius: 1rem;
}

nav a {
  color: black;
  text-decoration-line: none;
  font-size: 1.25rem;
}

header {
  background-image: url(https://unsplash.it/1200/400/?blur);
  background-position: center;
  background-size: cover;
  height: 400px;
  margin: 0 auto;
}

#products {
  background-color: blanchedalmond;
}

#team,
#products,
footer {
  border: 1px solid darkslategray;
}

.tagline {
  margin-left: 3rem;
  margin-top: 5rem;
  font-size: 2rem;
  color: white;
}

h2 {
  font-size: 3rem;
  margin-left: 3rem;
  padding: 4rem 0 1rem 0;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4rem;
}

.products-container article {
  background-color: paleturquoise;
  background-position: center;
  background-size: cover;
  border: 0.25rem solid lightblue;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem;
  margin: 2rem;
  width: 36rem;
  height: 300px;
}

.products-container img {
  float: left;
  margin-right: 1rem;
  border-radius: 2rem;
}

h3 {
  margin-top: 1rem;
  font-size: 2rem;
}

.products-container p {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.products-container a {
  color: black;
  text-decoration-line: none;
}

.biographies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.biographies-container article {
  width: 50%;
  padding: 1rem;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 900px) {
  .biographies-container article {
    width: 90%;
    border-right: 2px solid black;
  }
}

.biographies-container p {
  text-indent: 1rem;
}

.biographies-container img {
  border: 2px solid black;
  min-width: 300px;
}

.biographies-container article,
img {
  margin-bottom: 4rem;
}

footer {
  background-color: darkcyan;
}

footer h4 {
  font-size: 1.5rem;
}

footer p,
footer h4 {
  margin-left: 1rem;
  color: white;
}

footer a {
  color: lightblue;
}
